:root {
    --white: #fff;
    --black: black;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0919;
    --color-sec: #db6400;
    --color-grey: #ddd;
    --color-dark-grey: #222831;
    --color-azure: azure;
    --transition: all .8 linear;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Josefin Sans";
}

.container{
    width: 100vw;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.head{
    width: 100%;
    height: 19rem;
    background: url("pexels-lukas-616401.jpg");
    background-position: top 10% right 10%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head h1{
    font-size: 50px ;
    color: var(--black);
    font-family: "Righteous";
}


.title-text{
    color: var(--black);
    margin: 1rem;
    font-size: 20px;
}

.form{
    padding: 1rem;
    width: 30rem;
}

.form form{
    display: flex;
}

.form form #search-box{
    height: 2.5rem;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: 3px solid var(--color-sec);
    outline: none;
    border-radius: 5px;
}

.form form .search-btn{
    height: 2.5rem;
    display: flex;
    border: 1px solid var(--color-sec);
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

#search-icon{
    font-size: 25px;
    padding: 5px;
    margin: auto;
}

.meal-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.meal-list h1{
    margin: 0 auto;
    margin-top: 1rem;
    color: var(--black);
}

.instruction{
    margin: 5rem auto;
}

.instruction p{
    color: var(--black);
    font-size: 30px;
}

.meals{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    margin: 1rem 0;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .3) */
    background-color: var(--black);
}

.meals .single-meal{
    background-color: var(--white);
    width: 17rem;
    height: 20rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    transition: var(--transition);
}

.meal-img{
    width: 16rem;
    height: 13rem;
    margin: 5px auto;
    border-radius: 5px;
}

.meal-img img{
    width: 100%;
    height: 100%;
}

.meals span{
    margin: 0 auto;
    font-size: 20px ;
    color: var(--black);
    padding: 2px;
}

.view-receipe{
    margin: 7px auto;
    padding: 2px ;
}

.view-receipe > *{
    padding: 9px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--color-sec);
    color: var(--white);
    font-size: 15PX;
    transition: var(--transition);
    cursor: pointer;
}

.meals .single-meal:hover{
    box-shadow: 0 0 50px rgb(92, 84, 84);
}

.view-receipe>*:hover{
    border: 1px solid var(--color-sec);
    background: var(--white);
    color: var(--black);
}

.modal-box{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -20%);
    margin-top: 10rem;
    top: 0;
    width: 30rem ;
    height: 40rem ;
    background-color: rgba(99, 89, 89, 1);
    border-radius: 1rem;
}

.modal-box .modal{
    height: 100%;
    width: 100%;
}

.modal-box .modal .details{
    display: flex;
    flex-direction: column;
    padding: 1.7rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal-box .modal .details .cancel {
    width: 100%;
    position: relative;
}

.modal-box .modal .details i{
    font-size: 25px;
    cursor: pointer;
}

.details .img{
    width: 20rem;
    height: 20rem;
    margin: 8px auto;
}

.details .img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.details .instruction-step > *{
   text-align: center;
   font-size: 20px;
   color: wheat;
}

.details .link{
    margin-top: 1rem;
}

.details .link i, .details .link a{
    font-size: 20px;
}

.details .link i{
    color: var(--color-primary);
}


.wrapper{
    width: 100%;
    height: 400rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6)
}

.hide{
    display: none;
}